---
---
<!DOCTYPE html>
<html>

<head>
	<title>Linebreakers</title>
	<link type="text/css" rel="stylesheet" href="css/styles.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="The Linebreakers" />
	<meta property="og:type" content="article" />
	<meta property="og:description"
		content="Tech, bugs, & rock‘n’roll. The world's greatest nerd comedy classic rock disco alt punk covers band." />
	<meta property="og:image" content="https://linebreakers.band/images/linebreakers-og-image.jpg" />
	<meta property="og:url" content="http://linebreakers.band/" />
	<meta name="twitter:card" content="summary_large_image" />
</head>

<body>
	<h1 id="logotype">The Linebreakers</h1>
	<h2>&nbsp;TECH, BUGS <small>&</small> ROCK<small>‘n’</small>ROLL</h2>
	{% include nav.html %}
	<div id="gallery">
		<a href="/people#rendle">
			<img class="musician" src="images/rendle.jpg" />
			RENDLE
		</a>
		<a href="/people#hannes-lowette">
			<img class="musician" src="images/hannes-lowette.jpg" />
			HANNES LOWETTE
		</a>
		<a href="/people#eli-holderness">
			<img class="musician" src="images/eli-holderness.jpg" />
			ELI HOLDERNESS
		</a>
		<a href="/people#vagif-abilov">
			<img class="musician" src="images/vagif-abilov.jpg" />
			VAGIF ABILOV
		</a>
		<a href="/people#dylan-beattie">
			<img class="musician" src="images/dylan-beattie.jpg" />
			DYLAN BEATTIE
		</a>
		<a href="/people#heather-downing">
			<img class="musician" src="images/heather-downing.jpg" />
			HEATHER DOWNING
		</a>
		<a href="/people#alex-dunn">
			<img class="musician" src="images/alex-dunn.jpg" />
			ALEX DUNN
		</a>
		<a href="/people#max-arshinov">
			<img class="musician" src="images/max-arshinov.jpg" />
			MAX ARSHINOV
		</a>
		<a href="/people#kevlin">
			<img class="musician" src="images/kevlin-henney.jpg" />
			KEVLIN HENNEY
		</a>
	</div>
	<div id="links">
		<a href="https://youtube.com/@TheLinebreakers">
			<img src="images/youtube.png" />
		</a>
		<a href="https://bsky.app/profile/linebreakers.band">
			<img src="images/bluesky.png" />
		</a>
		<a href="https://www.facebook.com/linebreakersband">
			<img src="images/facebook.png" />
		</a>
	</div>
	{% include footer.html %}
</body>

</html>