---
layout: page
---
{% assign old_shows = site.data.shows | where_exp: "show", "show.isodate < site.time" | sort: 'isodate' | reverse %}
{% assign years=old_shows | group_by_exp: "show" , "show.isodate | date: '%Y'" %}
{% assign count = 0 %}
<article class="tour-dates">
	<h2>Linebreakers Tour Dates Archive</h2>
	{% for year in years %}
		{% if year.name == "2017" %}
			<p>The first show we ever did as “Dylan Beattie and the Linebreakers”
				was PubConf London in January 2018. Before that, Dylan, and
				sometimes Vagif, would just show up to conference parties with
				instruments and ask if we could play. They usually said yes.</p>
		{% elsif year.name == "2020" %}
			<p>
				<img src="/images/microbe.png" title="COVID-19" style="width: 64px; padding: 12px;" />
				<img src="/images/microbe.png" title="COVID-19" style="width: 64px; padding: 12px;" />
				<img src="/images/microbe.png" title="COVID-19" style="width: 64px; padding: 12px;" />
			</p>
		{% endif %}
	<h3>{{ year.name }}</h3>
	<ol class="tour-dates">
		{% for show in year.items %}
		<li>
			<span class="show-date">{{ show.isodate | date: "%a %-d %b" }}</span>
			<img src="/images/flags/flat/32/{{ show.country }}.png" alt="{{ show.country }}" />
			{{ show.city }}
			<span>{{ show.venue }}</span>
		</li>
		{% assign count = count | plus: 1 %}
		{% endfor %}
	</ol>
	{% endfor %}
	<p>That's {{ count }} shows. We'll do something fun for show #100.</p>
</article>
