<!DOCTYPE html>
<html>

<head>
	<title>Linebreakers</title>
	<link type="text/css" rel="stylesheet" href="css/styles.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="The Linebreakers" />
	<meta property="og:type" content="article" />
	<meta property="og:description"
		content="Tech, bugs, & rock‘n’roll. The world's greatest nerd comedy classic rock disco alt punk covers band." />
	<meta property="og:image" content="https://linebreakers.band/images/linebreakers-og-image.jpg" />
	<meta property="og:url" content="http://linebreakers.band/" />
	<meta name="twitter:card" content="summary_large_image" />
	<!-- Fathom - beautiful, simple website analytics -->
	<script src="https://cdn.usefathom.com/script.js" data-site="BYFWVNBJ" defer></script>
	<!-- / Fathom -->
</head>

<body class="page">
	<header>
		<a href="/">
		<h1 id="logotype">The Linebreakers</h1></a>
		<h2>&nbsp;TECH, BUGS <small>&</small> ROCK<small>‘n’</small>ROLL</h2>
		<nav>
			<a href="/about">about</a>
			&bull;
			<a href="/shows">shows</a>
			&bull;
			<a href="/contact">contact</a>
		</nav>
	</header>
	<main>
		{{ content }}
	</main>
</body>

</html>